html,
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #bbb;
    text-align: left;
    background-color: #111;
    height: 100%;
    overflow-x: hidden;
}

body::-webkit-scrollbar-track {
  /* border: 1px solid #000; */
  padding: 2px 0;
  background-color: black;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #737272;
  border: 1px solid #000;
}
h2 {
    font-weight: 300;
    font-size: 1.8em;
    display: inline-block;
    /* float: left; */
    opacity: .8;
    position: relative;
    color: #fff;
    margin-right: 30px;
    margin-bottom: 20px;
}

h2::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 40%;
    top: 120%;
    left: 0;
    background: #343a40;
}

a {
    color: #00acc1;
}

a:hover {
    color: #bbb;
}
@media screen and (max-width: 480px) {
   .col, .col-6, .col-sm-4, .col-lg-3, .col-xl-3 {
        padding: 0;
    }

}