.movieCard {
    height: 28rem;
    width: 16rem;
    background-color: transparent;
}

.movieCardImage {
    height: 100%;
}

.cardFooter {
    width: 100%;
    padding: 10px 0;
    margin: 0;
}

.title {
    color: #e9ecef;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    cursor: pointer;
}

.title2 {
    color: #e9ecef;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.5em;
}

.meta {
    display: inline-flex;
    font-size: .9em;
    height: 50px;
    overflow: hidden;
    color: #959595;
    position: relative;
    width: 100%;
}

.meta2 {
    font-size: .9em;
    margin-top: 10px;
    color: #949ea9;
    display: flex;
    flex-wrap: wrap;
}

.meta2  span {
    flex-basis: 0;
    flex-grow: 1;
}

.meta2 span a {
    margin: 0 2px;
}

.meta2  div {
    font-size: .85em;
    display: block;
    width: 100%;
}

.meta2 div a,.meta2 div span:first-child, .imdb {
    color: #b5bdc4;
}
.actions {
    cursor: pointer;
    margin-top: 15px;
}


.text-right {
    text-align: right!important;
}


.bookmark {
    float: right;
    line-height: 35px;
    width: 35px;
    background: #d73458;
    color: #e9ecef;
    text-align: center;
    border-radius: 5px;
}


.watchnow {
    line-height: 21px;
    border-radius: 4px;
    text-align: center;
    margin-right: 45px;
    background: #333940;
    color: #ced4da;
    height: 3rem;
}

.watchnow i {
    font-size: .8em;
    vertical-align: 1px;
    color: #00acc1;
}

.desc {
    margin-top: 10px;
    font-size: .85em;
    font-weight: 300;
}


.type {
    font-style: normal;
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 0 3px;
    font-size: .8em;
    height: 1.5rem;
    position: absolute;
    right: 0px;
    background-color: transparent;
    color: #959595;
}

.dot {
    width: 3px;
    height: 3px;
    vertical-align: 2px;
    border-radius: 50%;
    /* display: inline-block; */
    background: #d5d5d5;
    content: "";
    margin: 8px 5px 0 5px;
}

.text {
    color: #959595;
}

.quality {
    background: #f8f9fa;
    color: #212529;
    float: left;
    margin-left: 5px;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    border-radius: 3px;
    box-shadow: 0 0 30px #000;
    text-transform: uppercase;
}

.icons {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    font-size: .86em;
    font-weight: 500;
}

.wrap {
    background: #00acc1;
    position: absolute;
    top: 40%;
    border-radius: 50%;
    height: 55px;
    left: 35%;
    width: 55px;
    text-align: center;
    padding: 18px;
}

.maskPlayIcon {
    color: white;
    -webkit-transition: all,ease-in-out .2s;
    -moz-transition: all,ease-in-out .2s;
    transition: all,ease-in-out .2s; 
}

.movieTooltipOnRight {
    position: absolute;
    top: 65px;
    left: 15rem;
    min-width: 260px;
    max-width: 260px;
    pointer-events: auto;
    z-index: 9999999;
    height: 260px;
    width: 260px;
    animation-duration: 350ms;
    transition-duration: 350ms;
    background: #212529;
    border: none;
    border-radius: 6px;
}

.tooltipContent {
        color: #949ea9;
    padding: 10px 15px;
}

.movieTooltipOnLeft {
    position: absolute;
    top: 65px;
    right: 15rem;
    min-width: 260px;
    max-width: 260px;
    pointer-events: auto;
    z-index: 9999999;
    height: 260px;
    width: 260px;
    animation-duration: 350ms;
    transition-duration: 350ms;
    background: #212529;
    border: none;
    border-radius: 6px;;
}

.movieTooltipOff {
    display: none;
}

@media screen and (max-width: 480px) {
   .movieCard {
    width: 45vw;
    height: 45vh;
  }

    .movieTooltipOff,  .movieTooltipOnLeft,.movieTooltipOnRight{
        display: none;
    }
}

@media screen and (min-width: 480px) {
   .movieCard {
    width: 30vw;
    height: 35vh;
  }

    .movieTooltipOff,  .movieTooltipOnLeft,.movieTooltipOnRight {
        display: none;
    }
}


@media screen and (min-width: 500px) {
   .movieCard {
    width: 45vw;
    height: 50vh;
  }

    .movieTooltipOff,  .movieTooltipOnLeft,.movieTooltipOnRight {
        display: none;
    }

}

@media screen and (min-width: 768px) {
   .movieCard {
    width: 30vw;
    height: 30vh;
  }

    .movieTooltipOff,  .movieTooltipOnLeft,.movieTooltipOnRight {
        display: none;
    }

}


@media screen and (min-width: 1024px) {
   .movieCard {
    width: 15vw;
    height: 28rem;
  }

     .movieTooltipOnLeft,.movieTooltipOnRight {
        display: block;
    }

} 